<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [3]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [4]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=7faf9e9489dce547f3e6833dddc0b25a"  #Make sure to change ******* to your API key.

response = requests.get(url)

In [28]:
response

In [5]:
print(response.headers)

{'Date': 'Sat, 18 Dec 2021 08:49:59 GMT', 'Content-Type': 'application/json; Charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'x-apilayer-transaction-id': 'df93820c-9218-481b-a932-47d90e661612', 'access-control-allow-methods': 'GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS', 'access-control-allow-origin': '*', 'x-request-time': '0.033', 'CF-Cache-Status': 'DYNAMIC', 'Report-To': '{"endpoints":[{"url":"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=yAi8v0%2BJ%2B7a3Ig6G%2Fup6XV5ovIREd5ya2FkdcKWr1%2FfeJtua3kwGpydWSkibHThbn5Vgmj4BqDpkLHK%2FA4OAeOXLkP8kKDQXC0uxVdqeMYfb6rCQSjhNQzUBL%2Bhso1en9gC72ObuCMRq"}],"group":"cf-nel","max_age":604800}', 'NEL': '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}', 'Server': 'cloudflare', 'CF-RAY': '6bf7241969488684-MAD', 'Content-Encoding': 'gzip'}

In [6]:
print("request body:", response.request.body)

request body: None

In [7]:
print(response.status_code)

200

In [8]:
print(response.text)

{"success":true,"timestamp":1639816744,"base":"EUR","date":"2021-12-18","rates":{"AED":4.12787,"AFN":115.194974,"ALL":120.529037,"AMD":540.108577,"ANG":2.025471,"AOA":638.337406,"ARS":114.548897,"AUD":1.570618,"AWG":2.023419,"AZN":1.914938,"BAM":1.942099,"BBD":2.269286,"BDT":96.472053,"BGN":1.953916,"BHD":0.423728,"BIF":2248.743085,"BMD":1.12381,"BND":1.53416,"BOB":7.749011,"BRL":6.401674,"BSD":1.123869,"BTC":2.417575e-5,"BTN":84.471382,"BWP":13.175549,"BYN":2.845991,"BYR":22026.668898,"BZD":2.265364,"CAD":1.448681,"CDF":2250.991111,"CHF":1.038904,"CLF":0.034344,"CLP":947.66416,"CNY":7.164741,"COP":4466.379119,"CRC":717.229172,"CUC":1.12381,"CUP":29.780955,"CVE":110.474866,"CZK":25.220143,"DJF":199.723891,"DKK":7.436833,"DOP":64.001401,"DZD":156.234309,"EGP":17.690003,"ERN":16.857232,"ETB":54.561399,"EUR":1,"FJD":2.394155,"FKP":0.847778,"GBP":0.84912,"GEL":3.466998,"GGP":0.847778,"GHS":6.950808,"GIP":0.847778,"GMD":59.416254,"GNF":10451.43003,"GTQ":8.690359,"GYD":235.026267,"HKD":8.768694,"HNL":27.320249,"HRK":7.51728,"HTG":112.888374,"HUF":367.29514,"IDR":16166.844495,"ILS":3.51358,"IMP":0.847778,"INR":85.760728,"IQD":1640.762071,"IRR":47480.957587,"ISK":146.387877,"JEP":0.847778,"JMD":173.081539,"JOD":0.796336,"JPY":127.797951,"KES":127.107145,"KGS":95.298388,"KHR":4573.905619,"KMF":491.526285,"KPW":1011.428587,"KRW":1334.962661,"KWD":0.340571,"KYD":0.936574,"KZT":492.206656,"LAK":12418.096888,"LBP":1698.076755,"LKR":227.021641,"LRD":159.58136,"LSL":17.846526,"LTL":3.318318,"LVL":0.679782,"LYD":5.18119,"MAD":10.440619,"MDL":19.94885,"MGA":4450.286555,"MKD":61.115208,"MMK":2000.487403,"MNT":3212.280221,"MOP":9.032817,"MRO":401.199847,"MUR":49.281652,"MVR":17.310873,"MWK":918.71858,"MXN":23.420534,"MYR":4.740795,"MZN":71.733193,"NAD":17.846521,"NGN":460.942185,"NIO":39.760808,"NOK":10.155705,"NPR":135.155843,"NZD":1.659676,"OMR":0.43269,"PAB":1.123854,"PEN":4.535739,"PGK":3.944993,"PHP":56.060504,"PKR":200.207108,"PLN":4.630668,"PYG":7638.561195,"QAR":4.091834,"RON":4.949599,"RSD":117.604776,"RUB":83.357348,"RWF":1151.112593,"SAR":4.217529,"SBD":9.096028,"SCR":14.980462,"SDG":491.67085,"SEK":10.303653,"SGD":1.537271,"SHP":1.54794,"SLL":12609.144515,"SOS":656.305209,"SRD":24.19454,"STD":23260.590537,"SVC":9.83339,"SYP":2823.563604,"SZL":17.846513,"THB":37.473999,"TJS":12.683099,"TMT":3.933334,"TND":3.209643,"TOP":2.576165,"TRY":18.451273,"TTD":7.642668,"TWD":31.289337,"TZS":2590.381592,"UAH":30.631074,"UGX":3995.370407,"USD":1.12381,"UYU":49.872181,"UZS":12170.858752,"VEF":240304464683.14218,"VND":25827.954997,"VUV":127.274423,"WST":2.922097,"XAF":651.343293,"XAG":0.050245,"XAU":0.000625,"XCD":3.037152,"XDR":0.804005,"XOF":650.127923,"XPF":119.629945,"YER":281.233771,"ZAR":17.887008,"ZMK":10115.639348,"ZMW":18.476308,"ZWL":361.866245}}

In [9]:
response.headers['Content-Type']

'application/json; Charset=UTF-8'

In [11]:
response.json()['rates']

{'AED': 4.12787,
 'AFN': 115.194974,
 'ALL': 120.529037,
 'AMD': 540.108577,
 'ANG': 2.025471,
 'AOA': 638.337406,
 'ARS': 114.548897,
 'AUD': 1.570618,
 'AWG': 2.023419,
 'AZN': 1.914938,
 'BAM': 1.942099,
 'BBD': 2.269286,
 'BDT': 96.472053,
 'BGN': 1.953916,
 'BHD': 0.423728,
 'BIF': 2248.743085,
 'BMD': 1.12381,
 'BND': 1.53416,
 'BOB': 7.749011,
 'BRL': 6.401674,
 'BSD': 1.123869,
 'BTC': 2.417575e-05,
 'BTN': 84.471382,
 'BWP': 13.175549,
 'BYN': 2.845991,
 'BYR': 22026.668898,
 'BZD': 2.265364,
 'CAD': 1.448681,
 'CDF': 2250.991111,
 'CHF': 1.038904,
 'CLF': 0.034344,
 'CLP': 947.66416,
 'CNY': 7.164741,
 'COP': 4466.379119,
 'CRC': 717.229172,
 'CUC': 1.12381,
 'CUP': 29.780955,
 'CVE': 110.474866,
 'CZK': 25.220143,
 'DJF': 199.723891,
 'DKK': 7.436833,
 'DOP': 64.001401,
 'DZD': 156.234309,
 'EGP': 17.690003,
 'ERN': 16.857232,
 'ETB': 54.561399,
 'EUR': 1,
 'FJD': 2.394155,
 'FKP': 0.847778,
 'GBP': 0.84912,
 'GEL': 3.466998,
 'GGP': 0.847778,
 'GHS': 6.950808,
 'GIP': 0.847778,
 'GMD': 59.416254,
 'GNF': 10451.43003,
 'GTQ': 8.690359,
 'GYD': 235.026267,
 'HKD': 8.768694,
 'HNL': 27.320249,
 'HRK': 7.51728,
 'HTG': 112.888374,
 'HUF': 367.29514,
 'IDR': 16166.844495,
 'ILS': 3.51358,
 'IMP': 0.847778,
 'INR': 85.760728,
 'IQD': 1640.762071,
 'IRR': 47480.957587,
 'ISK': 146.387877,
 'JEP': 0.847778,
 'JMD': 173.081539,
 'JOD': 0.796336,
 'JPY': 127.797951,
 'KES': 127.107145,
 'KGS': 95.298388,
 'KHR': 4573.905619,
 'KMF': 491.526285,
 'KPW': 1011.428587,
 'KRW': 1334.962661,
 'KWD': 0.340571,
 'KYD': 0.936574,
 'KZT': 492.206656,
 'LAK': 12418.096888,
 'LBP': 1698.076755,
 'LKR': 227.021641,
 'LRD': 159.58136,
 'LSL': 17.846526,
 'LTL': 3.318318,
 'LVL': 0.679782,
 'LYD': 5.18119,
 'MAD': 10.440619,
 'MDL': 19.94885,
 'MGA': 4450.286555,
 'MKD': 61.115208,
 'MMK': 2000.487403,
 'MNT': 3212.280221,
 'MOP': 9.032817,
 'MRO': 401.199847,
 'MUR': 49.281652,
 'MVR': 17.310873,
 'MWK': 918.71858,
 'MXN': 23.420534,
 'MYR': 4.740795,
 'MZN': 71.733193,
 'NAD': 17.846521,
 'NGN': 460.942185,
 'NIO': 39.760808,
 'NOK': 10.155705,
 'NPR': 135.155843,
 'NZD': 1.659676,
 'OMR': 0.43269,
 'PAB': 1.123854,
 'PEN': 4.535739,
 'PGK': 3.944993,
 'PHP': 56.060504,
 'PKR': 200.207108,
 'PLN': 4.630668,
 'PYG': 7638.561195,
 'QAR': 4.091834,
 'RON': 4.949599,
 'RSD': 117.604776,
 'RUB': 83.357348,
 'RWF': 1151.112593,
 'SAR': 4.217529,
 'SBD': 9.096028,
 'SCR': 14.980462,
 'SDG': 491.67085,
 'SEK': 10.303653,
 'SGD': 1.537271,
 'SHP': 1.54794,
 'SLL': 12609.144515,
 'SOS': 656.305209,
 'SRD': 24.19454,
 'STD': 23260.590537,
 'SVC': 9.83339,
 'SYP': 2823.563604,
 'SZL': 17.846513,
 'THB': 37.473999,
 'TJS': 12.683099,
 'TMT': 3.933334,
 'TND': 3.209643,
 'TOP': 2.576165,
 'TRY': 18.451273,
 'TTD': 7.642668,
 'TWD': 31.289337,
 'TZS': 2590.381592,
 'UAH': 30.631074,
 'UGX': 3995.370407,
 'USD': 1.12381,
 'UYU': 49.872181,
 'UZS': 12170.858752,
 'VEF': 240304464683.14218,
 'VND': 25827.954997,
 'VUV': 127.274423,
 'WST': 2.922097,
 'XAF': 651.343293,
 'XAG': 0.050245,
 'XAU': 0.000625,
 'XCD': 3.037152,
 'XDR': 0.804005,
 'XOF': 650.127923,
 'XPF': 119.629945,
 'YER': 281.233771,
 'ZAR': 17.887008,
 'ZMK': 10115.639348,
 'ZMW': 18.476308,
 'ZWL': 361.866245}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [18]:
# Turn the data into a dataframe
df = pd.DataFrame.from_dict(response.json()['rates'], 
                            orient='index', 
                            columns=['Rates'])
df

            Rates
AED      4.127870
AFN    115.194974
ALL    120.529037
AMD    540.108577
ANG      2.025471
..            ...
YER    281.233771
ZAR     17.887008
ZMK  10115.639348
ZMW     18.476308
ZWL    361.866245

[168 rows x 1 columns]

In [16]:
df.index

Index(['AED', 'AFN', 'ALL', 'AMD', 'ANG', 'AOA', 'ARS', 'AUD', 'AWG', 'AZN',
       ...
       'XAU', 'XCD', 'XDR', 'XOF', 'XPF', 'YER', 'ZAR', 'ZMK', 'ZMW', 'ZWL'],
      dtype='object', length=168)

In [ ]:
# Drop unnescessary columns

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [25]:
# Save the Dataframe
df.to_csv('exchange_rates_1.csv', sep=',', index=True)

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

In [27]:
pd.read_csv('exchange_rates_1.csv', sep=',', index_col=0)

            Rates
AED      4.127870
AFN    115.194974
ALL    120.529037
AMD    540.108577
ANG      2.025471
..            ...
YER    281.233771
ZAR     17.887008
ZMK  10115.639348
ZMW     18.476308
ZWL    361.866245

[168 rows x 1 columns]

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).